Crawl4AI==0.5.post8
elasticsearch==8.17.1
kafka_python==2.0.2
pandas==2.2.3
PyMySQL==1.1.1
apache-airflow==2.10.5
apache-airflow-providers-http
apache-airflow-providers-mysql
apache-airflow-providers-elasticsearch
